* { margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; }

body {
    background-color: #e2ebff; 
    color: #313131;
    transition: 0.3s; 
}

header, footer {
    background-color: #fffcd9; 
    color: #313131;
    padding: 15px;
    text-align: center;
    display: flex; justify-content: space-between; align-items: center;
}

footer { display: block; }

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    animation: muncul 1s ease-in;
}

@keyframes muncul { from { opacity: 0; } to { opacity: 1; } }

fieldset { border: 2px solid #ffff; padding: 15px; border-radius: 8px; }
legend { background: #5b8f9f; color: rgb(0, 0, 0); padding: 5px 10px; border-radius: 4px; }

.laguInput { margin-bottom: 15px; }
.laguInput label { display: block; font-weight: bold; margin-bottom: 5px; }
.laguInput input, .laguInput select {
    width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;
}

button {
    background-color: #fccccc;
    color: rgb(0, 0, 0); border: none; padding: 10px 15px; cursor: pointer; border-radius: 4px; font-weight: bold;
}
button:hover { opacity: 0.8; }
#btnSubmit { background-color: #6b7e44; }

@media (max-width: 600px) {
    header { flex-direction: column; gap: 10px; }
    main { margin: 10px; width: auto; }
}